<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fourier Series of Music</title>
</head>
<style>
    body {font-family: Helvetica Neue;}
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    </style>
<body>
    <h1> Welcome!</h1>
    <p>
        Thank you for checking out my website about the Fourier series of music - to learn more about the math behind this equation,
        click <a href="https://medium.com/@robertfustero/fourier-series-of-music-902c9dd57629">Here</a>  
        <br>
        To go have some fun with the web application --> <b>CLICK <a href="/app">HERE</a> </b> <----
        <br>
        <b>TIP:</b> Using smaller mod ( eg: 0.1) increasing the amount of lines between iterations
        <br>
        <b>TIP:</b> Increasing the # of Harmonics Increases the percision of the function
        <br>
        <b>TIP:</b> Negative Values don't work!  You can't take the log of a negative number!
        <br>
        <b>TIP:</b> Just Keep Clicking Increase Q or Decrease Q after you find settings you like and watch some interesting animations!
   
    </p>
</body>
